#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE=1

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)

%:
	dh $@ --parallel --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_LIBRARY_ARCHITECTURE=${DEB_HOST_MULTIARCH} \
		-DCMAKE_C_COMPILER=$(DEB_HOST_GNU_TYPE)-gcc \
		-DCMAKE_CXX_COMPILER=$(DEB_HOST_GNU_TYPE)-g++

override_dh_strip:
	dh_strip --dbg-package=iotivity-apps-dbg
